@import "tailwindcss";

@theme {
  --font-montserrat-medium: var(--font-montserrat-medium);
  --font-futura-light: var(--font-futura-light);
  --font-futura-medium: var(--font-futura-medium);
  --font-futura-demi: var(--font-futura-demi);
  --font-futura-heavy: var(--font-futura-heavy);
}

